# gradle

.gradle/
build/
out/
classes/
gradle/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
charm-fabric-1.16.4-2.2.2.jar