# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.gitattributes
deps
common/src/main/generated
scripts/nbt_modification/toconvert
scripts/nbt_modification/converted
CHANGELOG_OLD.md
